rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Capsules collection
    match /capsules/{capsuleId} {
      // Allow a user to read their own capsules
      allow read: if request.auth != null && request.auth.uid == resource.data.userId;
      
      // Allow a user to create a capsule if they are signed in
      // and the capsule they are creating belongs to them.
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
      
      // Allow a user to update or delete their own capsules
      allow update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
}